<%- include ('partials/header.ejs') %>
<LEFT>
  <h1><FONT COLOR = #6c757d>Sample for Node CRUD operations</FONT> </h1>
<hr>
<td>
  <a href="#/" target="_self" >Home</a> |
  <a href="/user" target="_self" >User</a> |
  <a href="#/" target="_top" >Contact</a
</td>
<td valign="top"><h2 align="center">Welcome!</h2>
  <Div Align = "center"><p>Welcome to my sample node JS CRUD opeerations. </p>
    <p> Created the sample just for insert update delete users information such as first name, last name, email addess,
    password and image of user`.</p>
  <p> Not added much things of css and html in this demo projects as its just only for node js sample with express and MYSql.</p>
  <blockquote>
</Div>
</div>
</header>
</div>
</body>
</html>